$backgroundBlue: #d0dbff;
$backgroundPink: #eedce7;
$orange: #ff8616;
$orangeAfter: rgba(255, 135, 22, 0.33);
$red: #FF4F5A;
$blackColor: #000;
$darkGreen: #385a64;
$lightGrey: grey;
$menuColor: rgba(234, 98, 95, .7);